<extend name="Public/base"/>
<block name="style">
    <style>
        .operateBtn{
            font-size:12px;
            padding:0px 5px;
            color:blue;

        }
        .operateBtn:hover{
            cursor:pointer;
        }
        .td1 {
            text-align: right;
            width: 100px;
        }
        .td2 {
            text-align: left;
            width: 160px;
        }
    </style>
</block>
<block name="body">
    <div class="main-title">
        <h2 id="mytitle"></h2>
    </div>
<form action="./activity_add" method="post">
    <input id="id" name="id" type="hidden" value="0"/>
    <table cellpadding="4" cellspacing="2">
        <tr>
            <td class="td1">
                <label for="activityname">活动名称:</label>
            </td>
            <td class="td2">
                <input id="activityname" name="activityname"/>
            </td>
            <td class="td1">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label for="activitycode">活动编码:</label>
            </td>
            <td class="td2">
                <input id="activitycode" name="activitycode"/>
            </td>
            <td class="td1">
            </td>
            <td>
            </td>
        </tr>
    </table>
    <div id="sample_2_wrapper" class="dataTables_wrapper form-inline" role="grid" style="padding-left:10px;">
        <p><input id="sub" type="submit" value="添加"/></p>
    </div>
</form>
</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/static/layer/layer.js"></script>
    <script type="text/javascript">
        $(function(){
            var id="{$id}";
            if(id=="0"){
                $("#sub").val("添加");
                $("#mytitle").html("新增活动&nbsp;&nbsp;&nbsp;");
            }else {
                $("#sub").val("修改");
                $("#id").val(id);
                var json=eval({$json});
                $("#activityname").val(json.activityname);
                $("#activitycode").val(json.activitycode);
                $("#mytitle").html("修改活动&nbsp;&nbsp;&nbsp;");
            }
        });

    </script>
</block>
