<extend name="Public/base"/>
<block name="style">
    <style>
        .operateBtn{
            font-size:12px;
            padding:0px 5px;
            color:blue;
        }
        .operateBtn:hover{
            cursor:pointer;
        }
        .du_area_item{
            padding-left:5px;
        }

        .input{

        }

    </style>
</block>
<block name="body">
    <div class="main-title">
        <h2>分销商列表&nbsp;&nbsp;&nbsp;</h2>
    </div>
    <div id="sample_2_wrapper" class="dataTables_wrapper form-inline" role="grid" style="padding-left:10px;">
        <table style="margin: 5px 0 10px 0" cellpadding="5px">
            <tr>
                <td style="width: 80px;text-align: left">商户名称：</td>
                <td style="width: 200px;text-align: left"><input id="name" type="text" maxlength="11"/> </td>
                <td style="min-width: 80px;text-align: right"><input type="button" class="btn  select_btn" value="查询" onclick="query()"/> </td>
                <td style="width: 50px"></td>
                <td style="width: 50px"></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="button" class="btn  select_btn" value="+添加商户" onclick="window.location='./distributordetail'"/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="table table-striped table-bordered table-hover dataTable" id="sample_2" aria-describedby="sample_2_info">

            <thead>

            <tr role="row">
                <th style="text-align:center;min-width:140px;">序号</th>
                <th style="text-align:center;min-width:100px;">商户名称</th>
                <th style="text-align:center;min-width:140px;">商户电话</th>
                <th style="text-align:center;min-width:140px;">商户地址</th>
                <th style="text-align:center;min-width:140px;">操作人</th>
                <th style="text-align:center;min-width:100px;">添加时间</th>
                <th style="text-align:center;min-width:140px;">操作</th>
            </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" id="tbody">
            </tbody>
        </table>
        <div id="page" class="m-pagination"></div>
    </div>
    <div id="selectUserContainer" style="display:none;">

        <div  class="selectUserContainer">
            <div  class="UserContainer">


            </div>
            <div class="form-actions" style="padding-left:0px;text-align:center;background:white;border:0px;">
                <button class="dialogBtn" type="submit" class="btn blue"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>

    </div>
</block>
<block name="script">
    <link rel="stylesheet" href="__MODULE_STATIC__/jedate/skin/jedate.css"/>
    <script type="text/javascript" src="__MODULE_STATIC__/jedate/jedate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/layer/layer.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/js/page/jquery.pagination.css"/>
    <script src="__PUBLIC__/js/page/jquery.pagination-1.2.7.js"></script>
    <script src="__PUBLIC__/js/page/page.js"></script>
    <script type="text/javascript">
        var imgSrc='__IMG__';
        $(function(){
            query();
        });

        function initListener(){
            $(".deleteMerchantBtn").click(function(){
                var id =$(this).parents("tr").attr("dataid");
                layer.confirm('确认删除该条商户信息？', {
                    btn: ['确认','取消'] //按钮
                }, function(){
                    deleteDistributors(id);
                }, function(index){
                    layer.close(index);
                });
            });
        }

        function  deleteDistributors(id){
            var ii=layer.msg("操作中……");
            $.ajax({
                type: "POST",
                url: "./deleteDistributors",
                dataType:"json",
                data:"id="+id,
                success: function (data) {
                    layer.close(ii);
                    if(data.state!=0){
                        layer.alert(data.msg);
                        return;
                    }
                    query();
                }
            });
        }

        //拉取分页数据
        function query() {
            $("#page").page('destroy');
            var ii = layer.msg('加载中');
            $("#page").page({
                debug: false,
                showInfo: true,
                showJump: true,
                showPageSizes: false,
                remote: {
                    url: "./getDistributors",
                    params: {
                        name:$("#name").val()
                    },
                    success: function (data) {
                        if (data.state != 0) {
                            layer.close(ii);
                            layer.alert(data.msg);
                            return;
                        }
                        $("#tbody").empty();
                        $.each(data.data, function (index, item) {
                            var str="";
                            str+="<a style='margin-left: 5px' href='distributordetail?id="+item.id+"'>修改</a><a style='margin-left: 5px'>|</a>";
                            str+="<a style='margin-left: 5px' class='deleteMerchantBtn' href='javascript:void(0)' >删除</a>";
                            var  htmlStr='<tr dataid="'+item.id+'">' +
                                    '<td style="text-align:center;" >'+item.num+'</td>' +
                                    '<td style="text-align:center;" >'+(item.name)+'</td>' +
                                    '<td style="text-align:center;" >'+(item.tel)+'</td>' +
                                    '<td style="text-align:center;" >'+(item.address)+'</td>' +
                                    '<td style="text-align:center;" >'+(item.lastopuser)+'</td>' +
                                    '<td style="text-align:center;" >'+(item.rowtime)+'</td>' +
                                    '<td style="text-align:center;" >'+str+'</td>' +
                                    '</tr>';
                            $("#tbody").append(htmlStr);
                        });
                        initListener();
                        layer.close(ii);
                    }
                }
            });
        }
    </script>
</block>
