<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>
    <title>消息推送</title>
    <script type="text/javascript" src="/public/js/jquery-2.0.3.min.js" ></script>


    <style>

        a {
            color: #000000;
            width: 90%;

        }

    </style>

</head>
<body>

<div class="content" style="background-color: white;">
    <div class="list-block" style="margin:0px;padding:0px;">
        <ul>
            <li class="item-content">

                <div class="item-inner">

                    <a href="__APP__/Home/Detail/messagePush1" target="_self">
                    <div class="item-title">1.如何查看停车记录？</div>
                    </a>
                    <span class="icon icon-right"></span>
                </div>
            </li>
            <li class="item-content">

                <div class="item-inner">
                    <a href="__APP__/Home/Detail/messagePush6" target="_self">
                        <div class="item-title">2.出场通知，与支付方式无关</div>
                    </a>
                    <span class="icon icon-right"></span>
                </div>
            </li>


            <li class="item-content">
                <div class="item-inner">
                    <a href="__APP__/Home/Detail/messagePush2" target="_self">
                        <div class="item-title">3.车辆未进场，收到了进出场消息？</div>
                    </a>
                    <span class="icon icon-right"></span>
                </div>
            </li>
            <li class="item-content">

                <div class="item-inner">
                    <a href="__APP__/Home/Detail/messagePush3" target="_self">
                    <div class="item-title">4.车辆入场，未收到入场消息？</div>
                    </a>
                    <span class="icon icon-right"></span>
                </div>
            </li>


            <li class="item-content">

                <div class="item-inner">
                    <a href="__APP__/Home/Detail/messagePush4" target="_self">
                    <div class="item-title">5.车辆出场后，查询到车辆还在计费中？</div>
                    </a>
                    <span class="icon icon-right"></span>
                </div>
            </li>


            <li class="item-content">

                <div class="item-inner">
                    <a href="__APP__/Home/Detail/messagePush5" target="_self">
                    <div class="item-title">6.联系我们</div>
                    </a>
                    <span class="icon icon-right"></span>
                </div>
            </li>



        </ul>
    </div>


</div>


</body>
</html>

