<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>
    <title>帮助详情</title>

    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }


        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>车辆出场后，查询到车辆还在计费中？</h2>

    <p>由于您的爱车出场时，系统未正确识别到您的车牌，将会持续计费，请您不必担心，异常数据会在您下次进入停车场时，自动清除，且不影响您出入停车。</p>
</div>

</body>
</html>