<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>

    <title>帮助详情</title>
    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }

        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>车辆入场，未收到入场消息？</h2>

    <p>1、车辆进场时，由于车速、车牌污损、天气、车辆角度等原因会导致车牌识别错误，不能向您推送消息；</p>
     <p>  2、出场时，点击【停车缴费】，将没有停车记录，该情况下请您在岗亭处缴纳现金出场，若有不便，还请理解。</p>
</div>

</body>
</html>