<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>
    <title>帮助详情</title>

    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }


        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>车辆未进场，收到了进出场消息？</h2>

    <p>车辆未进场，收到车辆入场入场或者车辆出场消息时，亲，请不要着急，可能有以下两种情况：</p>
    <p>   1、由于车速、车牌污损、天气、车辆角度等原因会导致入场或出场时系统误将车牌识别成您的，给您推送了消息，如果扣除了您的余额，请联系e泊客服处理，我们核实后会在3个工作日内退回；</p>
    <p>   2、不排套牌的情况，如有疑问，请联系e泊客服处理，一旦查实存在套牌，建议您联系交警处理。</p>
</div>

</body>
</html>