<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>

    <title>帮助详情</title>
    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }

        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }


    </style>

</head>
<body>

<div class="content-padded">

    <h2>我的月租车位不能续费？</h2>

    <p>亲，不要着急，月租车位不能续费可能有以下三种情况：</p>
    <p>    1、当停车场暂未开通月租续费功能时，建议您去停车场物业进行续费；</p>
    <p>    2、当时段月租车位的活动截止日期不足月或者已过期时；</p>
    <p>    3、当停车场与e泊解除合作关系时，建议您去停车场咨询物业。</p>
</div>

</body>
</html>