<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>

    <title>帮助详情</title>
    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }


        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>时段月租车超时，如何收费？</h2>

    <p>您的爱车提前入场或延迟出场均属于超时，超时时间将按临停费率收费。</p>
    <p>    案例描述：</p>
    <p>    如某停车场免费时段：每天18:00-次日09:00，含法定节假日</p>
    <p>   当您当天17:30进场，次日11:00出场，当前将产生30分钟超时，次日产生2小时超时，合计产生2小时30分钟的超时费用，费率按临停收费，且不包含15分钟免停时间。（具体按车场规定）</p>
</div>

</body>
</html>