<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>
    <title>帮助详情</title>

    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }

        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }


    </style>

</head>
<body>

<div class="content-padded">

    <h2>哪些停车场支持在线月租续费？</h2>

    <p>详情见文档（做了城市筛选功能，显示停车场列表）</p>
</div>

</body>
</html>