<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>

    <title>帮助详情</title>
    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }

        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>如何使用纸质停车票？</h2>

    <p>目前e泊已经发布了电子抵扣券的功能，有部分停车场并没有使用电子抵扣券，所以纸质抵扣券不能在电子支付时使用，请至岗亭出示抵扣券并缴纳现金出场；如您已开启自动支付，建议在出场前暂时关闭此功能。</p>
</div>

</body>
</html>

