<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>
    <title>帮助详情</title>

    <style>

        a {
            color: #000000;
        }

        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }

        body {
            background-color: white;
        }


        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>有哪些支付方式？</h2>

    <p>1、e泊现在支持微信支付、银联支付、支付宝支付和余额支付；</p>
    <p>2、建议开启自动支付，出场时，系统会自动帮您扣除本次停车费用，不用在岗亭排队缴费，立享etc免停出场，请点击此处开启；</p>
    <p>3、如有纸质抵扣券，<a href="payParkFee6.html" style="color:blue;">请点击此处</a>查看使用方法。 </p>
</div>

</body>
</html>

