<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=yes">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>
    <title>帮助详情</title>

    <style>


        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }


        .telPhone {
            color: black;
        }

        .service-time {
            font-size: 14px;
            color: darkgray;
        }

        a {
            color: #0a8ddf;
        }

        body {
            background-color: white;
        }

        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>如何领取发票？</h2>

    <p>e泊电子支付业务范围主要为代收停车费，如需领取发票，需由物业方进行发放。
        环球中心停车场现已支持批量发票领取，即日起可在环球中心物业处出示停车费电子支付明细，领取两个月内的停车费发票。 </p>
     <p>其他停车场暂未接到相关通知，感谢大家对e泊的支持，如有疑问，请拨打e泊停车服务专线咨询！</p>
    <p class="telPhone">客服电话：<a>400-1588-633</a></p>

    <p class="service-time">(服务时间09:30-18:30，不包括节假日和周末)</p>
</div>

</body>
</html>

