<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="textml; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=yes">



    <link href="/public/common/sm.css" rel="stylesheet" type="text/css"/>
    <title>帮助详情</title>

    <style>


        p {
            color: dimgray;
            font-size: 16px;
            margin-top: 10px;
        }


        .telPhone {
            color: black;
        }

        .service-time {
            font-size: 14px;
            color: darkgray;
        }

        a {
            color: #0a8ddf;
        }

        body {
            background-color: white;
        }

        h2{
            margin-top: 15px;
            margin-bottom: 0px;
        }

    </style>

</head>
<body>

<div class="content-padded">

    <h2>出口重复缴费怎么办？</h2>

    <p>如果您出现了重复缴费情况,请拨打客服热线电话,e泊工作人员会在后台审核,一经查实,重复
    支付的费用会在3个工作日内退款</p>
    <p class="telPhone">客服电话 ：<a>400-1588-633</a></p>

    <p class="service-time">(服务时间09:30-18:30，不包括节假日和周末)</p>
</div>

</body>
</html>

