<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<title>车辆管理</title>
		<link rel="stylesheet" href="__CSS__/top_sub.css" />
	</head>
	<body>
		<div class="menu-title">1.如何添加车牌？</div>
		<div class="menu-content">点击【e生活】，进入e生活主页，选择【我的e泊】->【车辆管理】，添加车牌号即可。</div>
		<img src="__IMG__/car_manage_wx/1-1@2x.png" style=""/>
		<img src="__IMG__/car_manage_wx/1-2@2x.png" />
        <img src="__IMG__/car_manage_wx/2-1@2x.png" />
		<div class="menu-title">2.如何删除车牌？</div>
		<div class="menu-content">点击【e生活】，进入e生活主页，选择【我的e泊】->【车辆管理】，进入车辆详情页，点击删除车牌。</div>
		<img src="__IMG__/car_manage_wx/2-2@2x.png" style=""/>
		<div class="menu-title">3.车主认证</div>
		<div class="menu-content">【车辆管理】新增车主认证功能，对车辆进行车主认证，可保障车辆共享、月租授权功能使用的安全性，车主认证申请通过后，才可进行车辆防盗、车辆共享和月租授权的操作。</div>
		<img src="__IMG__/car_manage_wx/iden_1@2x.png" />
		<img src="__IMG__/car_manage_wx/iden_2@2x.png" style=""/>
		<div class="menu-title">4.车辆共享，多人如何使用同一车牌？</div>
		<div class="menu-content">点击【e生活】，进入e生活主页，选择【我的e泊】->【车辆管理】，进入车辆详情页，在【车辆共享】页添加授权车牌即可。</div>
		<img src="__IMG__/car_manage_wx/share_1@2x.png" />
		<img src="__IMG__/car_manage_wx/share_2@2x.png" style=""/>
		<div class="menu-title">5.月租授权，如何授权？</div>
		<div class="menu-content">点击【e生活】，进入e生活主页，选择【我的e泊】->【车辆管理】，进入车辆详情页，在【月租授权】页添加授权手机账号即可。</div>
		<img src="__IMG__/car_manage_wx/allow_1@2x.png" />
		<img src="__IMG__/car_manage_wx/allow_2@2x.png" style=""/>





	</body>
</html>
