<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<title>月租续费</title>
		<link rel="stylesheet" href="__CSS__/top_sub.css" />
	</head>
	<body>
		<div class="menu-title">1.如何查看月租车位信息？</div>
		<div class="menu-content">点击【e生活】，进入e生活主页，选择【月租续费】，查看月租车位列表即可。</div>
		<img src="__IMG__/month_renew_wx/1-1@2x.png" />

		<div class="menu-title">2.一键续费</div>
		<div class="menu-content">点击【e生活】，进入e生活主页，选择【月租服务】，点击月租车位列表进行续费。</div>
		<img src="__IMG__/month_renew_wx/1-2@2x.png" />
		<img src="__IMG__/month_renew_wx/1-3@2x.png" />
		<img src="__IMG__/month_renew_wx/1-4@2x.png" />
		<div class="menu-title">3.租期选择</div>
		<div class="menu-content">根据当前日期到活动截止日期的月数，来选择租期，如有4个月时，可选择1至4个月的续期，不足月或活动已过期，则显示为0，不可选。</div>
		<img src="__IMG__/month_renew_wx/3-1@2x.png" />
		<img src="__IMG__/month_renew_wx/3-2@2x.png" />
		<div class="menu-title">4.月租续费须知</div>
		<div class="menu-content">① 如果因为停车场离线，而不能续费时，如有需要，请联系e泊客服帮你处理。</div>
		<div class="menu-content">② 如果因为停车场暂未开通月租续费功能，而不能续费时，建议您联系停车场物业开通e泊在线续费功能，享受更快捷的续费方式。</div>
	</body>
</html>
