<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<title>停车缴费</title>
		<link rel="stylesheet" href="__CSS__/top_sub.css" />
	</head>
	<body>
		<div class="menu-title">1.如何支付停车费？</div>
		<div class="menu-content">进入公众号->点击【停车缴费】->选择支付方式后，【确认支付】。</div>
		<img src="__IMG__/park_pay_wx/1-1@2x.png" style="width:82.6%;margin-left:8.7%;"/>
		<img src="__IMG__/park_pay_wx/1-2@2x.png" />
		<div class="menu-title">2.如何设置自动支付？</div>
		<div class="menu-content">点击【e生活】，进入e生活主页，选择【钱包】，在【自动支付】，开启余额自动支付即可。</div>
		<img src="__IMG__/park_pay_wx/2-1@2x.png" style="width:82.6%;margin-left:8.7%;"/>
		<img src="__IMG__/park_pay_wx/2-2@2x.png" />
		<img src="__IMG__/park_pay_wx/2-3@2x.png" style="width:86.8%;margin-left:8.7%;"/>
		<div class="menu-title">3.停车计费方式？</div>
		<div class="menu-content">场即开始自动计费，完成支付后，15分钟内未出场，则会重新开始计费。</div>
	</body>
</html>
